* {
	box-sizing: border-box;
}

body {
	background-image: url('bg.jpg');
	font-family: sans-serif;
	display: grid;
	align-content: flex-start;
	justify-items: center;
	height: 100vh;
	overflow: auto;
	margin: 0;
	padding: 0;
}

#nav_bar {
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2vw;
    padding: 1vw;
}

button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: .5vw 1vw;
}

button:hover {
    border-bottom: .3vw solid rgb(250, 194, 177);
}

.button {
    text-decoration: none;
    color: black;
    font-size: 2.3vh;
}

#container {
    width: auto;
    height: 90vh;
    padding: 2vw;
    margin: 0;
	display: grid;
	align-content: center;
	justify-items: center;
}

#table_container {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 2px rgba(100, 100,100, 0.3);
    border-radius: 2vw;
    border-width: 1vw;
    border-color: white;
    padding: 2vw;
    margin: 0;
	display: grid;
	align-content: center;
	justify-items: center;
}

